*{padding: 0px;margin: 0px;}
.aa{border:1px solid red;}
.p0{padding: 0px}
.m0{margin: 0px}
.row{margin: 0px;}
.mb10{margin-bottom: 10px}
.mt10{margin-top: 10px}
.mt30{margin-top: 30px}
.cfff{color: #fff}

.navconbg{background: #78a1ce;}
/*nav*/
.bs_nav{background-color: transparent!important;margin-bottom: 0px!important}
.navbar{border:0!important;}
.navbar-brand{color: #fff!important;line-height: 30px!important}
@media (max-width: 767px){
    .navbar-brand{line-height: 20px!important}
}
.bs_collapse{background-color: transparent;border-radius: 0;}
.navbar-collapse{padding-right: 0px!important;padding-left: 0px!important;}
.bs_collapse ul{margin-bottom: 0!important;margin-top: 0!important}
.bs_collapse ul>li:hover{background-color: #999}
.bs_collapse ul>li>a{
    color: #fff!important;
    line-height: 30px!important;
    padding-left:10px;
    padding-right: 20px
}
@media (max-width: 767px){
    .bs_collapse ul>li>ul>li>a{padding-left: 20px!important}
}
.icon-bar{background-color: #fff!important;}
.navbar-toggle{
    border-color: transparent!important;
    margin-right: 0px!important;
}   
.navbar-toggle:hover,.navbar-toggle:focus{
    background-color: transparent!important;
}
.bs_icon-bar{
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); 
    -moz-transform:rotate(45deg); 
    -webkit-transform:rotate(45deg); 
    -o-transform:rotate(45deg);
}
.navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:hover, 
 .navbar-default .navbar-nav > .open > a:focus {
    color: #999;
    background-color: #666!important;
}
.navbar-nav{
	margin: 7.5px 0px!important;
}
.dropdown-menu {
    background-color: #78a1ce!important;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #999;
  text-decoration: none;
  background-color: #999!important;
}
.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px!important;
}
.dropdown-menu .divider{margin:5px 0 0!important}
@media (max-width: 767px){
    .dropdown-menu{padding-bottom: 0px!important}
}

/*login*/
.btn_toreg{display: block; margin:10px 15px;}
.to_register{color: red;}
.login_head{background-color: ;color: #fff;padding: 20px 15px!important;}
.login_form_con{background-color: #fff;padding:7px 20px;border-radius: 5px;box-shadow: 0 0 15px 5px #999 }
.login_slogan{color: #ff9279;margin-bottom: 80px;text-align: center;}
.login_logo{width: 100px;}
@media (max-width: 767px){
    .login_logo_con{text-align: center;}
    .login_logo{width: 100px;}
    .login_slogan{margin-bottom: 30px;}
}

/*lb*/
.lb_title{font-size: 15px;font-weight: 500;height: 44px;margin-bottom: 5px} 
.lb_new_intro{font-size: 12px;height: 40px;border-bottom: 1px #d8d8d8 solid}
.lb_cover{width: 100%;height: 120px;margin-bottom: 7px}
@media (max-width: 767px){
    .lblist_item{height: 84px; background-color: #fff;margin-bottom: 10px}
    .xsp0{padding: 0!important; }
    .lb_title{height: auto;margin-top: 5px}
    .lb_new_intro{height:auto;font-size: 11px; border-bottom: none;}
    .lb_cover{width: 100%;height: 70px;border-top:5px #ffe84d solid;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px  }
    .lblist_item_bottom{
        /*border-bottom: 1px #f5f7fa solid;*/
    }
}
